[Unit]
Description=Run the Quantopian Linux Mobile Device Management Client script every minute

[Timer]
OnUnitActiveSec=1m

[Install]
WantedBy=timers.target
